
html {
  font-size: 12px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px; /* Or another size that suits mobile */
  }
}

:root {
  --primary-color: #707070;
  --secondary-color: #9cf3bd;
  --accent-color: #47df81;
  --background-color: #000000;
  --text-color: #D0D4C8;
  --secondary-text: #585858;
}

/* General Body Styling */
body { 
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: grid;
  place-content: center;
  max-width: 960px;
  margin: auto;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#profile {
  max-width: 25rem;
  margin: auto;
  padding-bottom: 3rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Navigation */
nav {
  margin-top: 0x;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display:flex
  padding: 0;
  margin: auto;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
}

#about-me {
  margin-left: 2rem;
  margin-right: 2rem;
}

#blog {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.blog-meta {
  font-style: italic;
  font-size: 1.5rem;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--secondary-color);
}

/* Animated Text */
.wibble {
  display: inline-block;
  color: var(--accent-color);
  font-style: italic;
  animation: wiggle 2s infinite;

}

@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25%, 100% { transform: rotate(0deg); }
  33.33% { transform: rotate(5deg); }
  41.67% { transform: rotate(-4deg); }
  50% { transform: rotate(2deg); }
  0%, 100% {transform: scale(1.1);}

}

/* Projects Section */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 3rem;
  padding: 2.5rem;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: 1px solid var(--accent-color);
  border-radius: 3rem;
  background: linear-gradient(#141414, #1C1E24);
  transition: transform 1s ease, box-shadow 1s ease;
}

.project-overview:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px var(--primary-color);
}

.project-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 2rem;
  color: var(--accent-color);
}

.project-link {
  display: inline-block;
  padding: 10px 25px;
  font-size: 2rem;
  color:#000000;
  background-color: var(--secondary-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #000000;
}
